.carrossel__titulo {
    color: var(--azul); /* Mudando para azul */
    background-color: var(--cinza-claro); /* Usando cinza claro */
    text-align: center;
    text-transform: uppercase;
    font-size: 20px; /* Aumentando o tamanho */
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px; /* Bordas arredondadas nas imagens */
}

.swiper-button-prev,
.swiper-button-next {
    display: block; /* Exibindo os botões de navegação */
    color: var(--laranja); /* Colorindo os botões de laranja */
}

.swiper-pagination {
    position: relative; /* Ajustando a posição */
    margin: .5em 0;
}

.card {
    background: var(--cinza-escuro); /* Alterando para um cinza escuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Aumentando a sombra */
    border-radius: 12px; /* Bordas arredondadas mais suaves */
    margin: 1em;
    padding: 1em;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro {
    color: var(--verde); /* Mudando para verde */
    font-size: 20px; /* Aumentando o tamanho */
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 16px; /* Aumentando o tamanho do texto */
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    border-radius: 24px; /* Bordas arredondadas nos botões */
}

.botões__item {
    margin: 0 0.5em;
}