.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--azul-escuro); /* Usando um azul mais escuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--cinza-claro); /* Usando cinza claro */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionando sombra ao menu */
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cinza-claro); /* Mesmo fundo para todos os itens */
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    border-bottom: 2px solid var(--laranja); /* Linha inferior para destaque */
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}